<!DOCTYPE html>

<html>
   <head>
      <%block name="title"><title>Test Site</title></%block>

      <%block name="head">

         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
         <meta name="description" content="">                 
         <meta name="viewport" content="width=device-width, initial-scale=1">

         <link rel="shortcut icon" href="../static/images/icons/favicon.ico" />


         <!--Javascript files needed here to work properly with AngularJS-->
         <!--Note:  jquery must be imported before bootstrap for all bootstrap features to work-->
         <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

         <!--The main angularjs file is needed here to get ng-cloak to work-->
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>      
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular-resource.min.js"></script>

         <!-- Bootstrap javascript and CSS -->
         <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">



      
      </%block>
   </head>

   <body>

      Karl was here.

   </body>
</html>
